<p id="notice"><%= notice %></p>

<p>
  <strong>User id:</strong>
  <%= @user.User_ID %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.Name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.Surname %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @user.Birth %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
